{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


  {% if current_user.api_key %}

    <h1>Your Api Key</h1>
    <pre>
      Your api key is:
      {{ current_user.api_key }}
    </pre>
  {% else %}
    <pre>
      <h3>You do not have an API key.</h3>
      You may request an API key below.

    <h3>Request an API Key:</h3>
    </pre>
    <!-- Create a form -->
    <form method="POST">
    {{ form.csrf_token }}

    <div class="form-group all-fields">
    {{ form.submit() }}

  {% endif %}

  </div>


{% endblock %}
