{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


  {% if current_user.api_key %}


    <pre>
      <h3>Your Api Key:</h3>
      {{ current_user.api_key }}

  <h3>Reset my API Key:</h3>
  You may request to reset your key below.
    </pre>
  </pre>
  {% else %}
    <pre>
      <h3>You do not have an API key.</h3>
      You may request an API key below.

    <h3>Request an API Key:</h3>
    </pre>

  {% endif %}
  <!-- Create a form -->
  <form method="POST">
  {{ form.csrf_token }}

  <div class="form-group all-fields">
  {{ form.submit() }}



  </div>


{% endblock %}
