{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


  <h1>Settings</h1>
  <p>
    Modify your settings:
  </p>


  <div id="toggle-views">
    <p>Toggle between viewer modes here.</p>

    <label for="interested">Interested Mode</label>
        <input type="radio" id="interested" name="modes" value=0 class= "toggle" {% if current_user.view_mode==0  %}checked{% endif %}>

    <label for="analyst">Analyst Mode</label>
        <input type="radio" id="analyst" name="modes" value=1 class= "toggle" {% if current_user.view_mode ==1  %}checked{% endif %}>

    <label for="developer">Developer Mode</label>
        <input type="radio" id="developer" name="modes" value=2 class= "toggle" {% if current_user.view_mode==2 %}checked{% endif %}>


    <div class='status'> You are viewing the data in
          <div id='view-mode' style="display:inline; font-weight:bold;">
            {% if current_user.view_mode==0%}
              Interested
            {% elif current_user.view_mode==1%}
              Analyst
            {% elif current_user.view_mode==2%}
              Developer
            {% endif %}
          </div>
          Mode
    </div>
  </div>

  <ul>
      <li><a href="change-password">Change Your Password</a></li>
      <li><a href="update-profile">Update Your Profile</a></li>
      <li><a href="api-key">Api Key</a></li>

  </ul>
{% endblock %}
