{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}


  <h1>Sign Up</h1>


  <!-- Create a form -->
  {% from "login/_formhelpers.html" import render_field %}
  <div class="container">
    <form method="POST">
    {{ form.csrf_token }}

      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.website) }}
      {{ render_field(form.instagram) }}
      {{ render_field(form.message, type="textarea") }}
      {{ render_field(form.submit, class="submit") }}
      </form>
    </div>

  <div class="login-signup">
        <pre>Already have an account? <a href="{{ url_for('login.login') }}">Log in.</a></pre>
  </div>
{% endblock %}
