{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <h1>Access Data Manually</h1>
  <p class="important">
    Select which paramaters you want included from below:
  </p>


  <div class="data-query">
    <h2>Query Shows</h2>
      <form method="POST" action="">
            {{ form.csrf_token }}

            <h3>Show Genre</h3>
            <div>{{ form.musicals.label }} {{ form.musicals() }}</div>
            <div>{{ form.plays.label }} {{ form.plays() }}</div>
            <div>{{ form.other_show_genre.label }} {{ form.other_show_genre() }}</div>

            <h3>Production Type</h3>
            <div>{{ form.originals.label }} {{ form.originals() }}</div>
            <div>{{ form.revivals.label }} {{ form.revivals() }}</div>
            <div>{{ form.other_production_type.label }} {{ form.other_production_type() }}</div>

            <h3>Theatre Info</h3>
            <div>{{ form.theatre_info.label }}{{ form.theatre_info.description }} {{ form.theatre_info() }}</div>


            <h3>Date Range</h3>
            <div>{{ form.shows_year_from.label }} {{ form.shows_year_from() }}</div>
            <div>{{ form.shows_year_to.label }} {{ form.shows_year_to() }}</div>

            <!-- Advanced stuff below... -->
            <div class="advanced" id="advanced-data-query">
              <div class="advanced-label" id="advanced-data-query-label">Advanced Options  <i class="fas fa-wrench"></i></div>
                  <div id="advanced-data-query-content" style="display:none;">
                    <h3>Show Info</h3>
                    <div>{{ form.shows_title.label }} {{ form.shows_title() }}</div>
                    <div>{{ form.theatreName.label }} {{ form.theatreName() }}</div>

                    <h3>People</h3>
                    <div>{{ form.person_name.label }} {{ form.person_name() }}</div>
                </div>
            </div>


            <input type="submit" value="Submit"/>
        </form>
  </div>

  </form>
{% endblock %}


<!-- <div>{{ form.person_m_name.label }} {{ form.person_m_name(size=10) }}</div>
<div>{{ form.person_l_name.label }} {{ form.person_l_name(size=10) }}</div>
<div>{{ form.role_name.label }} {{ form.role_name(size=10) }}</div>
<div>{{ form.shows_title.label }} {{ form.shows_title(size=10) }}</div>
<div>{{ form.shows_year.label }} {{ form.shows_year(size=10) }}</div> -->
