{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <h1>Access Data Manually</h1>
  <p class="important">
    Select which paramaters you want included from below:
  </p>


  <div class="data-query">
    <h2>Query Shows</h2>
      <form method="POST" action="">
            {{ form.csrf_token }}

            <!-- Loop through each element and seperate by name... -->
            <!-- Ideally, this is done as a macro... -->
            <div class="show_genre">
              <h3>Show Genre</h3>
              {% for field in form %}
                {% if field.name.startswith('show_genre') %}
                  <div>{{ field.label }} {{ field() }}</div>
                {% endif %}
              {% endfor %}
            </div>

            <div class="show_type">
              <h3>Production Type</h3>
              {% for field in form %}
                {% if field.name.startswith('show_type') %}
                  <div>{{ field.label }} {{ field() }}</div>
                {% endif %}
              {% endfor %}
            </div>

            <!-- <div class="theatre">
              <h3>Theatre Info</h3>
              {% for field in form %}
                {% if field.name.startswith('theatre_info') and not field.name.endswith('_include') %}
                  <div>{{ field.label }} {{ field() }}</div>
                {% endif %}
              {% endfor %}
            </div> -->

            <div class="date_range">
              <h3>Date Range</h3>
              {% for field in form %}
                {% if field.name.startswith('show_year') %}
                  <div>{{ field.label }} {{ field() }}</div>
                {% endif %}
              {% endfor %}
            </div>




            <!-- Advanced stuff below... -->
            <div class="advanced" id="advanced-data-query">
              <div class="advanced-label" id="advanced-data-query-label">Advanced Options  <i class="fas fa-wrench"></i></div>
                  <div id="advanced-data-query-content" style="display:none;">

                    <div class="EXTRA">
                      <h3>Extra Info</h3>
                      {% for field in form %}
                        {% if field.name.endswith('_include') %}
                          <div>{{ field.label }} {{ field() }}</div>
                        {% endif %}
                      {% endfor %}
                    </div>

                    <div class="ADVANCED">
                      <h3>Advanced</h3>
                      {% for field in form %}
                        {% if field.name.endswith('ADVANCED') %}
                          <div>{{ field.label }} {{ field() }}</div>
                        {% endif %}
                      {% endfor %}

                    </div>
                </div>
            </div>


            <input type="submit" value="Submit"/>
        </form>
  </div>

  </form>
{% endblock %}


<!-- <div>{{ form.person_m_name.label }} {{ form.person_m_name(size=10) }}</div>
<div>{{ form.person_l_name.label }} {{ form.person_l_name(size=10) }}</div>
<div>{{ form.role_name.label }} {{ form.role_name(size=10) }}</div>
<div>{{ form.show_title.label }} {{ form.show_title(size=10) }}</div>
<div>{{ form.show_year.label }} {{ form.show_year(size=10) }}</div> -->
