{% extends "emails/email_layout.html" %}

{% block content %}


<div class="email-body">

  <div>
  Hello,
  <br>
  <b>Your Open Broadway Data account has been approved!</b>
  Welcome to the growing community of individuals using data to
  learn more about Broadway.
  <br>
  Now that you are an approved member, you'll have full access to all of the free functionality Open Broadway Data
  has to offer.
  <br>
  To activate your account, please follow <a href="{{ url_for('internal.verify_account', token=token, _external=True) }}">this url</a>.
  <br>
  <br>
  Happy learning,<br>
  The Open Broadway Data Team
  </div>
</div>

{% endblock %}
