/* Use this document to change base app styles */
body{
  font: normal medium/1.4 sans-serif;
  padding: 0 15px 0 15px;
}

/* Main styles */
body{
  font-family: Arial;
  line-height: 1.25;
  margin:20px;
  background-color: #c4ffc4;
}

/*  Style the navigation */
.navigation{
  font-family: monospace;
  /* white-space: pre; */
  line-height: 1.25;
}

h1{
  font-weight: 400;
  margin: 10px 0;
  font-size: 42px;
  letter-spacing: 1px;
  word-spacing: 10px;
}

h2{
  font-weight: 400;
  margin: 10px 0;
  font-size: 32px;
  letter-spacing: 0.75px;
  word-spacing: 5px;
}

h3{
  font-weight: 400;
  margin: 10px 0;
  font-size: 22px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.important {
  font-weight: 400;
  color: #336699;
}

.section{
  padding:0 0 10px 0;
  background-color: white;
  border-radius: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* Begin Non-loggedIn User Homepage styles */
.section-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section-text h2{
  margin-bottom: 0px;
}
.section-text p{
  margin-top: 0px;
}
/* End Non-loggedIn User Homepage styles */





/*  The footer  */
#footer{
  font-size: 10px;
  margin-left:2vw;
}

/* Style your buttons */
button, input[type="submit"]{
  border: none;
  display: inline-block;
  width: 30vw;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  margin-bottom: 16px!important;
  color: #FFFFFF;
  background-color: #09790d;
}

button.download{
  font-size: 1.33vw;
  width: 15vw;
}

@media screen and (max-width: 750px) {
  button.download{
    font-size: 2.25vw;
    width: 25vw;
  }
}

@media screen and (max-width: 450px) {
  button.download{
    white-space: normal;
    font-size: 13px;
    width: 100px;
    padding: 4px 8px;
  }
}

button:hover, input[type="submit"]:hover{
  color: #FFFFFF;
  background-color: #0575ff;
  transform: scale(1.1);
}

/* Formatting Stuff */
.button-group{
  display:flex;
  justify-content: flex-start;
}
.button-group > *{
  margin-right: 2.5vw;
}


/* Style the close buttons */
.alert.alert-warning{
  background:#d9d9d9;
  padding:20px;
  min-height: 30px;
  font-size: 12px;
}

.alert > button.close {
  content: 'X';
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 50px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-weight: 300;
  background:none;
  color:black;
  opacity: 0.3;
}

.alert > button.close:hover {
  opacity: 1;
}
