/* Use this document to change base app styles */

:root {
  --blur-effect: blur(10px);
  --theater-image:url('../images/keo-oran-theater-unsplash.jpg');
  --myGreen:rgb(126,201,166);
  --myGreenDark:rgb(60, 144, 105);
  --myGreenAlt:rgb(71,173,126);
  --myBlue:rgb(53,92,171);
}

body, html {
  height: 100%;
}

/* Main styles */
body{
  font-family: Arial;
  line-height: 1.25;
  margin:0;
  font: normal medium/1.4 sans-serif;
}

.page-content{
  padding: 20px;
}

.bg-image {
  /* The image used */
  background-image: var(--theater-image);
  z-index: -1;
  display: block;
  position: absolute;
  top:0;
  bottom:0;
  left: 0;
  right: 0;

  /* Set a specific height --> Problem here: can't get the image to dynamically adjust...
  */
  height: 110%;

  /* Create the parallax scrolling effect */
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* Create the blur */
  -webkit-filter: var(--blur-effect);
  -moz-filter: var(--blur-effect);
  -o-filter: var(--blur-effect);
  -ms-filter: var(--blur-effect);
  filter: var(--blur-effect);
}

/*  Style the navigation */
.navigation{
  font-family: normal medium/1.4 sans-serif;
  background: rgb(0, 0, 0, 0.5);
  padding:15px 20px;
  line-height: 1.0;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;


  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 1;

  /* Adjust for margin */
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);



}


.navigation-left{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.navigation-right{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

.navigation a{
    padding:0 10px;
    color:white;
    text-decoration-line:none;
    text-decoration-style:none;
    text-decoration-color:none;
}
.navigation a:hover{
    color:var(--myGreen);
}

.floating-module img:hover{
    transform: scale(1.05); /* Make 5% larger */

}

.navigation .meta *{
  /* margin-left: 20px; */
  margin-top: 5px;
  padding-right:10px;
  color:rgb(204, 204, 204);
  font-family: monospace;
  font-size: 11px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

/* Hover text */
.navigation .tooltiptext {
  visibility: hidden;
  width: 150px;
  background: rgb(255, 255, 255, 0.90);
  color: black;
  text-align: center;
  padding: 5px;
  margin:0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 50px;

}

.navigation #view-mode:hover .tooltiptext {
  visibility: visible;
}

.navigation #view-mode .tooltiptext:after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 90%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(255, 255, 255, 0.90); transparent;
}



img#logo{
  width:50vw;
  max-width: 500px;
}

hr{
  width:80%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1{
  color:var(--myGreen);
  font-weight: 400;
  margin: 10px 0;
  font-size: 42px;
  letter-spacing: 1px;
  word-spacing: 10px;
}

h2{
  color:var(--myBlue);
  font-weight: 400;
  margin: 10px 0;
  font-size: 32px;
  letter-spacing: 0.75px;
  word-spacing: 5px;
}

h3{
  color:var(--myGreenDark);
  font-weight: 400;
  margin: 10px 0;
  font-size: 22px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.important {
  font-weight: 400;
  color: #336699;
}

/* Create a floating module */
.floating-module{
  z-index: 1;
  width:90%;
  margin: 20px auto;
  padding:20px;
  background-color:rgba(255, 255, 255, 0.65);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Begin Non-loggedIn User Homepage styles */
.floating-module .info, .floating-module .section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:80%;
}

.floating-module .section p{
  justify-content: center;
  width:80%;
  min-width: 150px;
}




.floating-module h1{
  font-weight:bold;
}

.floating-module h2{
  margin-bottom: 0px;
}
.floating-module p{
  margin-top: 0px;
}

.floating-module .message{
  font-family:Consolas, "courier new";
  font-size: 12px;
  line-height:22.5px;
  margin:10px 0 20px;
}
/* End Non-loggedIn User Homepage styles */


/*  The footer  */
#footer{
  color:white;
  font-size: 10px;
  padding:10px 20px 10px 20px;
  background: rgb(0, 0, 0, 0.5);
  position:absolute;
  bottom:0;

  /* Adjust for margin */
  height: 50px;
  width: -webkit-calc(100% - 40px);
  width: -moz-calc(100% - 40px);
  width: calc(100% - 40px);


}
#footer a:link, #footer a:visited{
  color: white;
}
#footer a:hover{
  color: var(--myGreen);
}


/* Format Links */
.page-content a:link, .page-content a:visited{
  color: mediumblue;
}
.page-content a:hover{
  font-weight:bold;
}

/* Make a glowing link... */
.special{
  border-radius: 50%;
  padding:12px 2px 12px;
  /* Animate! */
  -webkit-animation-name: bluePulse;
  -webkit-animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes bluePulse {
  from {
    background-color: var(--myBlue);
    -webkit-box-shadow: 0 0 5px 5px rgb(53,92,171, 1);
  }
  60% {
    background-color: rgb(53,92,171, 0.2);
    -webkit-box-shadow: 0 0 5px 10px rgb(53,92,171, 0.2);
  }
  to{
    background-color: var(--myBlue);
    -webkit-box-shadow: 0 0 5px 5px rgb(53,92,171, 1);
  }
}

/* Style your buttons */
button, input[type="submit"]{
  border: none;
  display: inline-block;
  width: 30vw;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  margin-bottom: 16px!important;
  color: #FFFFFF;
  background-color: var(--myGreenAlt);
}

button.download{
  font-size: 1.33vw;
  width: 15vw;
}

@media screen and (max-width: 750px) {
  button.download{
    font-size: 2.25vw;
    width: 25vw;
  }
}

@media screen and (max-width: 450px) {
  button.download{
    white-space: normal;
    font-size: 13px;
    width: 100px;
    padding: 4px 8px;
  }
}

button:hover, input[type="submit"]:hover{
  color: #FFFFFF;
  background-color: #0575ff;
  transform: scale(1.1);
}

/* Formatting Stuff */
.button-group{
  display:flex;
  justify-content: flex-start;
}
.button-group > *{
  margin-right: 2.5vw;
}


/* Style the close buttons */
.alert.alert-warning{
  background:#d9d9d9;
  padding:20px;
  min-height: 30px;
  font-size: 12px;
}

.alert > button.close {
  content: 'X';
  position: absolute;
  z-index: 1;
  right: 50px;
  top: 50px;
  width: 30px;
  height: 30px;
  font-size: 30px;
  font-weight: 300;
  background:none;
  color:black;
  opacity: 0.3;
}

.alert > button.close:hover {
  opacity: 1;
}
