/* Flex and stuff */



.flex-columns{
  /* background: rgb(0, 0, 0, 0.5); */
  display:flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  padding: 10px;
}

.flex-columns h2{
  margin: 0;
}

.flex-columns .help-text{
  color:rgb(0, 0, 0, 0.75);
  font-size: 10px;
  letter-spacing: 0.75px;
  padding-bottom: 20px;
}

.flex-columns .column{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  flex: 1;
}

.tall-container{
  height:750px !important;
  max-height:750px !important;
}
@media screen and (max-width: 1000px) {
  .flex-columns{
    flex-flow: column wrap;
    justify-content: center;
  }
  .flex-columns .column{
    max-width: 95vw;
  }
  .tall-container{
    height:500px !important;
    max-height:500px !important;
  }
}
