/* Form fields */
ul.errors{
  color:red;
  font-family: monospace;
  font-size:11px;
}

.container{
  background-color: #f2f2f2;
  display:inline-block;
  margin: 2.5%;
  padding: 2.5%;
  width:95%;
}

form .row{
  width:100%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  display:block;
}

/* All the labels */
form label {
  font-weight: bold;
  display:block;
}

form .help-text{
  color:var(--myGreenAlt) !important;
  /* color:black !important; */
  font-size: 9px !important;
  font-style: italic !important;
  letter-spacing: 0.5px !important;
  padding-bottom: 10px !important;
  padding-right: 20px !important;
}

/* All the labels */
form input,textarea {
  width: 90%;
  max-width: 500px;
  display:block;
  margin-bottom: 20px;
  padding: 6px 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;

}

form textarea{
  height:100px;
  resize:horizontal;
}
form .submit{
  width:100%;
}


/* Special Things */
.advanced{
  border-radius: 5px;
  background-color: #EEEEEE;
  padding: 12px 12px;

  margin-left: 40px;
  margin-right: 40px;

  margin-top: 20px;
  margin-bottom: 40px;
  width:calc(90% - 80px - 12px);
  max-width: calc(500px - 80px - 12px);

}
.advanced-label{
  line-height: 1.2rem;
  color:var(--myGreenAlt);
  font-weight: bold;
}

.advanced-label svg{
  margin-left: 5px;
}

.advanced div:not(.advanced-label){
  /* width:calc(90% - 20px - 10px); */
  margin-top: 20px;
  margin-bottom: 20px;
}

.advanced-label:hover{
  font-size: 110%;
  line-height: 1.2rem;
}


@media screen and (max-width: 450px) {
  form input,textarea {
    width:90%;
    padding: 6px 6px;
  }
  .advanced{
    margin-left: 10px;
    margin-right: 10px;
    width:calc(90% - 20px - 12px);
  }
}




/* For form adjacent properties */
.list-options{
  margin-left: 30px;
  margin-right: 30px;
  font-size: 11px;
}
































/* whitespace for peace of mind */
