/* body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;} */

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.table-container{ */
  display: inline-block;
  max-height:500px;
  overflow-y: scroll;
  margin-bottom: 20px;
 }

/* table#show-data >tbody{
  display: inline-block;
  max-height:500px;
  overflow-y: scroll;
  margin-bottom: 20px;
} */

tr:nth-child(odd)       { background-color:#eee; }
tr:nth-child(even)  { background-color:#fff; }

/* Highlight rows and columns */
table#show-data .hover {
  background: rgba(248, 241, 132, .35);
}


.download-buttons > *{
  display: inline-block;
  margin: 0 0 20px 20px;
}
