/* body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;} */


.table-container{
  display: inline-block;
  max-height:500px;
  overflow-y: scroll;
  margin-bottom: 20px;
 }



table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:left;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 0.9em;
}
table.dataframe {
  position: relative;
  border-collapse: collapse;
  z-index:1;

}

table.dataframe.freeze-header  th {
  position: -webkit-sticky;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  z-index: 1;
  background-color: silver;
}




tr:nth-child(odd)   { background-color:#eee; }
tr:nth-child(even)  { background-color:#fff; }

/* th:nth-child(21), */
td:nth-child(21) {
  margin-top: 5px;
  margin-bottom: 10px;

  line-height: 1.1em;
  white-space: normal;
  overflow: scroll;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  width: 200px;
  max-width: 200px;

  color:grey;
  font-size:10px;
  font-family: monospace;
}





/* Highlight rows and columns */
table#show-data .hover {
  background: rgba(248, 241, 132, .35);
}


.download-buttons > *{
  display: inline-block;
  margin: 0 0 20px 20px;
}


table.dataframe tbody tr:hover {
    background: rgb(255,247,230) !important;
    cursor: pointer !important;
}
