{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

    <script type=text/javascript src="{{url_for('static', filename='js/admin-page.js') }}"></script>
    <h3>Admin Tools</h3>
      <a href="#" onClick="history.go(-1)">Back</a>

  <h1>{{ title }}</h1>

  <p>
    Admin settings. (COOL!)
  </p>

  <h2>Here are the current non-approved users</h2>
  <!-- It goes here -->
    <div class="table-container">
    {{ data|safe }}
    </div>

  <br>
  <h2>Approve of them one by one...</h2>

  <!-- Create a form -->
  <form method="POST">
  {{ form.csrf_token }}

  <div class="form-group all-fields">
  {{ form.allFields() }}
  {{ form.submit() }}

  </div>


{% endblock %}
