{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

  <h1>{{ title }}</h1>

  <h3>Current Users</h3>
  <!-- It goes here -->
    <div class="table-container">
    {{ data|safe }}
    </div>

  <br>
  <hr>



  <h2>Assign Roles:</h2>

  <div class="advanced list-options" id="advanced-list-options">
    <div class="advanced-label" id="advanced-list-options-label">Available Roles  <i class="fas fa-wrench"></i></div>
        <div id="advanced-list-options-content" style="display:none;">
          <p>Here are the currently available system roles:</p>
          <ul>
            {% for item in available_roles %}
               <li> {{ item[0] }}</li>
            {% endfor %}
          </ul>
      </div>
  </div>

  <!-- Create a form -->
  <form method="POST">
  {{ form.csrf_token }}

  <div class="form-group all-fields">
  {{ form.allFields() }}
  {{ form.submit() }}

  </div>

{% endblock %}
