{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h1>{{ title }}</h1>
  <p>
    Because there are over 100,000 people in our database (some of which may be repeats),
    we've opted to limit our scope by first focusing on <b>directors only</b>.
  </p>
  <p>
    Below, you will find data for all directors going back to 1800.
  </p>

  <h2>Data</h2>
  <p>
    Here it is...
  </p>
  <div class="flex-columns">

      <div class="table-container column tall-container" style="flex: 3;">
          {{ data|safe }}
      </div>

      <div class="form-container column tall-container" style="flex: 1; padding-left:25px;">
        <form method="POST" action="">
              {{ form.csrf_token }}
              <div>{{ form.person_id.label }}
                <div class="help-text">We have a feature in development where you'll click a person's row and their ID will populate below...
                </div>{{ form.person_id(size=10) }}</div>
              <div>{{ form.date_of_birth.label }} {{ form.date_of_birth(size=10) }}</div>
              <div>{{ form.racial_identities.label }} {{ form.racial_identities(size=10) }}</div>
              <div>{{ form.gender_identity.label }} {{ form.gender_identity(size=10) }}</div>
              <div>{{ form.edit_citation.label }} {{ form.edit_citation(size=10) }}</div>
              <input type="submit" value="Submit"/>
          </form>

      </div>


  </div>

{% endblock %}
