{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

  <h1>{{ title }}</h1>
  <div class="data-query">
    <h2>Query People</h2>
      <form method="POST" action="">
            {{ form.csrf_token }}
            <div>{{ form.person_f_name.label }} {{ form.person_f_name(size=10) }}</div>
            <div>{{ form.person_m_name.label }} {{ form.person_m_name(size=10) }}</div>
            <div>{{ form.person_l_name.label }} {{ form.person_l_name(size=10) }}</div>
            <div>{{ form.role_name.label }} {{ form.role_name(size=10) }}</div>
            <div>{{ form.shows_title.label }} {{ form.shows_title(size=10) }}</div>
            <div>{{ form.shows_year.label }} {{ form.shows_year(size=10) }}</div>

            <div class="advanced" id="advanced-data-query">
              <div class="advanced-label" id="advanced-data-query-label">Advanced Options  <i class="fas fa-wrench"></i></div>
                  <div id="advanced-data-query-content" style="display:none;">
                    <div>{{ form.shows_year_from.label }} {{ form.shows_year_from(size=10) }}</div>
                    <div>{{ form.shows_year_to.label }} {{ form.shows_year_to(size=10) }}</div>
                </div>
            </div>
            <input type="submit" value="Submit"/>
        </form>
  </div>
  <div class="table-container tall-container">
      <div id="people-query-data">
        {{data|safe}}
      </div>
  </div>

{% endblock %}
