{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
  <h1>Access Data – Advanced</h1>
  <p class="important">
    Write an SQL query to the following route:
  </p>
  <pre>
    /get-data-advanced/sql/
  </pre>

  <h3>Alternatively, you can write your SQL query below:</h3>
  <pre>
    <b>sql Query:</b>
        a select statement to the database.

        Details on the query params will be filled in later. <i>(This is a work in progress...)</i>

    <b>API_KEY:</b>
        will autopopulate if you are registered.

    <b>Data Summary Detail Level:</b>
        Choose an integer between 1 and 3.
        Higher numbers correspond with more detailed data summaries.

  </pre>
  <!-- Create a form -->
  <form method="POST">
    {{ form.csrf_token }}
    {{ form.hidden_tag() }}

    <div class="form-group all-fields wide-fields">

    {{ form.allFields() }}
    {{ form.submit() }}

    </div>

  </form>


{% endblock %}
