{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}


  <h1>{{ title }}</h1>
  <div class="subtitle">Open Broadway Data is a non-profit and open source initiative. All contributions are volunteers.</div>
  <ul>
    <li><a href="http://yaakovbressler.com/">Yaakov Bressler</a> (Product, Engineering)</li>
    <li><a href="https://about.me/warrenadams">Warren Adams</a> (Product)</li>
    <li><a href="https://www.linkedin.com/in/stanislavlevitt/">Stanislav Levitt</a> (Engineering)</li>
    <li><a href="https://nikhilkamat.com/">Nikhil Kamat</a> (Engineering, Research)</li>
    <li><a href="https://www.linkedin.com/in/jocelyn-shek-1b881a1a5/">Jocelyn Shek</a> (UX & UI Design, Research)</li>
  </ul>
{% endblock %}
