{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block background_image %}
<div class="bg-image"></div>
{% endblock %}

{% block content %}

  <!-- Floating Module -->
<div class="floating-module">
    <div class="info">
        <h1>Open Broadway Data</h1>
        <h2>Welcome to this API!</h2>
        <p>This API will allow you to access the data for
           every Broadway show since 1738.
        </p>
    </div>


{% if current_user.approved %}

<!-- Only show the following to those who are authenticated -->


{% if not current_user.developer_mode %}                                        <!-- Analyst Mode -->
    <div class="info">
        <h3>Data can be accessed in one of two ways:</h3>
        <ol>
          <li>
            <b>Analyze:</b><br>
            Request directly from the OBD database.
          </li><br>
          <li>
            <b>Explore:</b><br>
              Explore prepoluated interactive dashboards, made by our volunteer editing team.
          </li
        </ol>
    </div>

    <div class="section">
          <h2>Analyze</h2>
          <p>
            Request directly from the OBD database.
          </p>
          <a href="/analyze/get-data/"><button>Get Data</button></a><br>
          <h2>Explore</h2>
          <p>
            Explore prepoluated interactive dashboards, made by our volunteer editing team.
          </p>
          <a href="/analyze/explore/"><button>Explore</button></a><br>
    </div>

{% else %}                                                                      <!-- Developer Mode -->

  <div class="info">
      <h3>Data can be accessed in one of two ways:</h3>
      <ol>
        <li>
          <b>REST API:</b><br>
          Make request directly from your application.
        </li><br>
        <li>
          <b>SQL-like Query:</b><br>
          Write SQL like queries directly to the OBD database here on our site.
        </li
      </ol>
  </div>

  <div class="section">
        <h2>REST API</h2>
        <p>
          Read the docs
        </p>
        <a href="/api/docs"><button>Get Data Advanced</button></a><br>
        <h2>SQL-like Query</h2>
        <p>
          Send an SQL query to our endpoint to receive data.
        </p>
        <a href="/get-data-advanced/"><button>Get Data</button></a><br>
  </div>

{% endif %}


{% elif current_user.id %}
<!--Show to users who aren't approved yet (but are signed in)-->

    <div class="message">
      You aren't approved to view the app yet. Please give us up to 24 hours to
      respond to your request for access. If you don't hear from us then, send
      an email to us at <i>yaakovbressler [at] gmail [dot] com</i>.

      Meanwhile, keep an eye on your inbox – we'll be sending you an
      email once you're approved.
    </div>


{% else %}
<!--Show this to everyone else... -->
    <div class="message">
      You aren't signed in. Login or create an account to gain access to
      the app.
    </div>
    <div class="section-button">
      <a href="/login"><button>Login</button></a><br>
      <a href="/signup"><button>Signup</button></a><br>
    </div>

{% endif %}
</div>
{% endblock %}
