<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='tables.css') }}">

    <!-- Load JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <script type=text/javascript src="{{url_for('static', filename='extensions.js') }}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='tables.js') }}"></script> -->

    <title>{% block title %}{% endblock %} - Open Broadway Data</title>
    {% endblock %}
  </head>

  <body>
    <!-- Create a header for nav -->
    <div class="navigation">
    <!-- Only if logged in -->
    {% if current_user.is_authenticated %}
      <a href="/">Home</a>
      <a href="/settings">Settings</a>
      <a href="/logout">Logout</a>
      <pre>
        Signed in as "{{ current_user.email}}"
      </pre>
    <!-- Route appropriate pages -->
    {% elif request.endpoint == 'login' %}
      <a href="/signup">Signup</a>
    {% elif request.endpoint == 'signup' %}
      <a href="/login">Login</a>
    {% endif %}
    </div>

    <!-- Add content -->
    {% block content %}
    {% endblock %}
    <!-- Footer... -->
    <hr>
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://github.com/Broadway-Open-Data">Open Broadway Data</a>.
      {% endblock %}
    </div>
  </body>
</html>
