<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">

    <!-- Load JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <script type=text/javascript src="{{url_for('static', filename='js/extensions.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/user-interactions.js') }}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='js/tables.js') }}"></script> -->

    <title>{% block title %}{% endblock %} - Open Broadway Data</title>
    {% endblock %}
  </head>

  <body>
    {% block background_image %}{% endblock %}
    <!-- Create a header for nav -->
    <div class="navigation" id="myHeader">

    <!-- Only if logged in -->
    {% if current_user.is_authenticated %}
          <div class="home">
            <a href="/">Home</a>
          </div>
          <div class="menu">
            <a href="/settings">Settings</a>

              <!--  Only allow admin users -->
              {% if current_user.is_admin() %}
                  <a href="/admin">Admin</a>
              {% endif %}

              <a href="/logout">Logout</a>
          </div>
          <div class="meta">
            <div class="signed-in-status">
              Signed in as "{{ current_user.email}}"
            </div>
            <div class="dev-mode">
              {% if current_user.developer_mode %}
              Developer Mode
              {% else %}
              Analyst Mode
              {% endif %}
              <span class="tooltiptext">
                Switch between view modes in Settings.
              </span>
            </div>

          </div>

    <!-- If not logged in -->
    {% else %}
        {% if request.endpoint == 'index' %}
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <br><a href="/login/forgot-password">Forgot Password</a>
        {% else %}
            <a href="/">Home</a>
        {% endif %}
    {% endif %}


    <!-- Route appropriate pages -->
    {% if request.endpoint == 'login' %}
        <a href="/signup">Signup</a>
        <br><a href="/login/forgot-password">Forgot Password</a>

    {% elif request.endpoint == 'signup' %}
        <a href="/login">Login</a>
        <br><a href="/login/forgot-password">Forgot Password</a>

    {% elif request.endpoint == 'forgot_password' %}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>

    {% endif %}
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
            <button class="close" id="close-alert" data-dismiss="alert" onclick="closeDiv()">&times;</button>
            <pre>
              {{ message }}
            </pre>
          </div>
    {% endfor %}


    <!-- Add content -->
    <div class="page-content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- Footer... -->
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://github.com/Broadway-Open-Data">Open Broadway Data</a>.
      {% endblock %}
    </div>
  </body>
</html>
