<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets.css') }}">


    <!-- Load JQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{
      url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <script type=text/javascript src="{{url_for('static', filename='js/extensions.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/user-interactions.js') }}"></script>
    <script type=text/javascript src="{{url_for('static', filename='js/widgets.js') }}"></script>
    <!-- <script type=text/javascript src="{{url_for('static', filename='js/tables.js') }}"></script> -->

    <title>{% block title %}{% endblock %} - Open Broadway Data</title>
    {% endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177940998-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('some_variable', 'foo');
      gtag('config', 'UA-177940998-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5PX7SSZ');</script>
    <!-- End Google Tag Manager -->

  </head>

  <body>

    {% block background_image %}{% endblock %}
    <!-- Create a header for nav -->
    <div class="navigation" id="myHeader">

    <!-- Only if logged in -->
    {% if current_user.is_authenticated %}
          <div class="navigation-left">
            <a href="/"><img src="{{ url_for('static', filename='logo/open-broadway-data-logo.png') }}" style="width:150px;"></a>
          </div>
          <div class="navigation-right">
            <div class="menu">
              <a href="/settings">Settings</a>

                <!--  Only allow admin users -->
                {% if current_user.is_admin() %}
                    <a href="/admin">Admin</a>
                {% endif %}

                <a href="/logout">Logout</a>
            </div>
            <div class="meta">
              <div class="signed-in-status">
                Signed in as "{{ current_user.email}}"
              </div>
              <div class="dev-mode">
                {% if current_user.developer_mode %}
                Current Mode: Developer
                {% else %}
                Current Mode: Analyst
                {% endif %}
                <span class="tooltiptext">
                  Switch between view modes in Settings.
                </span>
              </div>
          </div>

          </div>

    <!-- If not logged in -->
    {% else %}
        {% if request.endpoint == 'index' %}
        <div class="notLoggedin">
            <a href="/signup">Signup</a>
            <a href="/login">Login</a>
            <a href="/login/forgot-password">Forgot Password</a>
            <a class-"special" href="/about">About<a>
          </div>
        {% else %}
            <a href="/"><img src="{{ url_for('static', filename='logo/open-broadway-data-logo.png') }}" style="width:150px;"></a>
        {% endif %}
    {% endif %}


    <!-- Route appropriate pages -->
    {% if request.endpoint == 'login' %}
    <div class="navLogin">
      <a href="/signup">Signup</a>
      <a href="/login/forgot-password">Forgot Password</a
    </div>

    {% elif request.endpoint == 'signup' %}
    <div class="navSignup">
      <a href="/login">Login</a>
      <a href="/login/forgot-password">Forgot Password</a>
    </div>
    {% elif request.endpoint == 'forgot_password' %}
    <div class="navPassword">
      <a href="/login">Login</a>
      <a href="/signup">Signup</a>
    </div>
    {% endif %}
    </div>

    {% for message in get_flashed_messages() %}
      <div class="alert alert-warning">
            <button class="close" id="close-alert" data-dismiss="alert" onclick="closeDiv()">&times;</button>
            <pre>
              {{ message }}
            </pre>
          </div>
    {% endfor %}


    <!-- Add content -->
    <div class="page-content">
      {% block content %}
      {% endblock %}
    </div>
    <!-- Footer... -->
    <div id="footer">
      {% block footer %}
      &copy; Copyright 2020 by <a href="https://github.com/Broadway-Open-Data" target="_blank">Open Broadway Data</a>.
      {% endblock %}
    </div>
  </body>

  <footer>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5PX7SSZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </footer>

</html>
